<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Danmaku</title>
  <link href={{ url_for('static', filename="css/main.css" ) }} rel="stylesheet" type="text/css" />
  <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="screen_container" id="contents">
    <video controls>
      <source src={{ url_for('static', filename=videoName ) }} type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="table_div">
    <table>
      <thead>
        <th>Danmaku</th>
        <th>time</th>
      </thead>
      <tbody>
        <tr>
          <td>a</td>
          <td>b</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="main">
    <input id="danmakutext" type="text" placeholder="Danmaku~"></input>
    <button class="send">Send</button>
    <p>Now: {{ mode }} mode</p>
  </div>

  <script src={{ url_for('static', filename="js/main.js" ) }} type="module"></script>
</body>

</html>